/* Universal Styles */
html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: white;
  color: black;
}

.container {
  width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    height: auto;
  }
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Header */
.main-banner {
  display: flex;
  background: url("../images/glasses-bg.png") center;
  background-size: cover;
  width: 100%;
  height: 31rem;
}

@media only screen and (max-width: 1024px) {
  .main-banner {
    height: 22rem;
  }
}

.header {
  margin-top: 1rem;
  display: flex;
  width: auto;
  background-color: cadetblue;
  color: white;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 1024px) {
  .header {
    margin-top: 0px;
  }
}

.header .logo {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
}

nav {
  display: inline-flex;
  align-items: center;
}

nav a {
  padding-right: 2rem;
  text-decoration: none;
  color: white;
}

.headline {
  position: relative;
  top: 11.5rem;
  float: right;
  right: -2rem;
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

@media only screen and (max-width: 1024px) {
  .headline {
    top: 5rem;
    right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

/* Main */
main {
  width: 100%;
}
/* Service Provided */
.steps {
  display: flex;
  justify-content: center;
}

.step {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem 6rem 3rem 0;
}
.step img {
  width: 5rem;
}

.step.paper img {
  width: 3.5rem;
  height: auto;
}

/* Company Info */
.company {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5rem;
}

.info {
  display: inline-block;
  width: 35%;
  margin-left: 5%;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  width: 10rem;
}

/* Footer */
footer {
  display: block;
  width: auto;
  padding: 4rem;
  background-color: azure;
}

footer .logo {
  display: inline-flex;
  align-items: center;
}

.copyright {
  display: inline-flex;
}
